---
BasedOnStyle: Google
IndentWidth: 2
---
Language: Cpp

ColumnLimit: 80
AccessModifierOffset: -2
PackConstructorInitializers: Never

# AllowShort
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty

# Breaks
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: AfterComma
AlwaysBreakTemplateDeclarations: true

# Includes
IncludeBlocks: Preserve
SortIncludes: false

# Indent
IndentRequiresClause: false
NamespaceIndentation: None

# Pointer
DerivePointerAlignment: false
PointerAlignment: Left
---
